<div class="sidebar">
    
    <div class="brand">
        <i class="bi bi-grid-1x2-fill"></i> HomeCart
    </div>

    {% if session.role == "admin" %}
        <div class="menu-label">Admin Panel</div>
        <ul>
            <li><a href="{{ url_for('dashboard.dashboard') }}"><i class="bi bi-speedometer2"></i> <span>Dashboard</span></a></li>
            <li><a href="{{ url_for('property.property_list') }}"><i class="bi bi-house"></i> <span>Properties</span></a></li>
            <li><a href="{{ url_for('admin.customers') }}"><i class="bi bi-people"></i> <span>Customers</span></a></li>
            <li><a href="{{ url_for('inquiry.inquiry_list') }}"><i class="bi bi-chat-dots"></i> <span>Inquiries</span></a></li>
            <li><a href="{{ url_for('visit.visits_page') }}"><i class="bi bi-eye"></i> <span>Visit</span></a></li>
            <li><a href="{{ url_for('staff.staff_list') }}"><i class="bi bi-person-badge"></i> <span>Users</span></a></li>
        </ul>

    {% elif session.role == "staff" %}
        <div class="menu-label">Staff Panel</div>
        <ul>
            <li><a href="{{ url_for('dashboard.dashboard') }}"><i class="bi bi-speedometer2"></i> <span>Dashboard</span></a></li>
            <li><a href="{{ url_for('property.property_list') }}"><i class="bi bi-house"></i> <span>Properties</span></a></li>
            <li><a href="{{ url_for('admin.customers') }}"><i class="bi bi-people"></i> <span>Customers</span></a></li>
            <li><a href="{{ url_for('inquiry.inquiry_list') }}"><i class="bi bi-chat-dots"></i> <span>Inquiries</span></a></li>
            <li><a href="{{ url_for('visit.visits_page') }}"><i class="bi bi-eye"></i> <span>Visit</span></a></li>
        </ul>
    {% endif %}
</div>